/*----------------------UNIVERSAL---------------------------- */
body {
    margin: 0;
    padding: 0;
}

h1 {
    color: white;
    font-family: 'Comfortaa', cursive;
    font-size: 3em;
    font-weight: bold;

}

h2 {
    color: black;
    font-family: 'Comfortaa', cursive;
    font-size: 3em;
    font-weight: 100;
    padding-bottom: 10px;
    width: fit-content;
    height: fit-content;
}

h2::after {
    content: '';
    display: block;
    margin: 10px auto;
    border-bottom: #AF0101 solid 3px;
    width: 80%;
}

p {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
    transition: .5s;
}

ul {
    list-style: none;
    color: white;
}


/* --------------------HEADER_NAV--------------------------- */

.header--img {
    background-image: url(img/header_Background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(70%);
    width: 100%;
    height: 0;
    padding-top: 33.68%;
    z-index: 0;
    position: relative;
}

.header__nav--container {
    position: absolute;
    top: 5%;
    left: 40%;
    transform: translate(-50%, -50%);
    width: 100%;
    filter: brightness(100%);
}

ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 0;
    z-index: 1;
}

ul a {
    margin-right: 4%;
}

ul a:hover {
    color: #AF0101;
}

ul li {
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.header__title--container {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header__title--container img {
    border-radius: 0;
    width: fit-content;
}

header:hover .header--img {
    animation: header__hover--brightness .5s  linear;
    animation-fill-mode: forwards;
}

header:hover span{
    animation: ease-in;
    animation:header__hover--title--white .8s linear;
    animation-fill-mode: forwards;
}
header:hover h1{
    animation:header__hover--title--red .8s linear;
    animation-fill-mode: forwards;
}
/* .header__title--container:hover .test {
    color: #AF0101;
    
}

.header__title--container:hover span {
    color: white;
} */

.header__title--red {
    color: #AF0101;
}

@keyframes header__hover--brightness {
    from {
        filter: brightness(70%);
    }

    to {
        filter: brightness(40%);
    }
}
@keyframes header__hover--title--red{
    from{
        color: white;
    }
    to{
        color: #AF0101;
    }
}
@keyframes header__hover--title--white{
    from{
        color: #AF0101;
    }
    to{
        color: white;
    }
}
/*---------------------SECTION_3_OUR_TEAM------------------- */
section {
    width: 80vw;
    margin: auto;
}

.title__container {
    display: flex;
    justify-content: space-around;
}


.teamMembers__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

div figure {
    flex: 0 40%;
}

figure {
    width: fit-content;
}

.figure__container {
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin-bottom: 40px;
}

/* .figure__container:hover{
    background-color: #4c4747;
    transition: .5s;
    color: white;
} */

.figure__container--content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}
.figure__container--content p{
    margin-top: 5%;
}

figcaption {
    font-family: 'Cinzel', serif;
    padding: .4% 3% 0% 3%;
    background-color: #AF0101;
    width: fit-content;
    color: white;
}

figcaption:hover {
    filter: opacity(80%);
}


a img:hover {
    filter: opacity(50%);
}

img {
    max-width: 100vw;
    max-height: 50vh;
    border-radius: 50%;
}

.small__img {
    height: 20vh;
}

/*----------------MEDIA_QUERIES----------------------- */

@media only screen and (max-width: 749px) {

    .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

/*---------------------SECTION_4_OUR_EVENTS---------------------- */

.section4__title--container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;

}

.imageClock {
    order: 1;
    margin-right: 10%;
}

.imageBeer {
    order: 3;
    margin-left: 10%;
}

.section4__title--flexorder {
    order: 2;
}

.boxesEvent {
    display: flex;
    height: 38%;
    width: 62%;
    margin-top: 3%;
    margin-left: 17%;
}

.redboxSalsa {
    width: 100%;
    text-align: center;
    box-shadow: 1px 1px 8px lightgrey;
    margin: 0 3%;
}

.redboxChristmas {
    width: 100%;
    text-align: center;
    box-shadow: 1px 1px 8px lightgrey;
    margin: 0 3%;
}

.redboxFinance {
    width: 100%;
    text-align: center;
    box-shadow: 1px 1px 8px lightgrey;
    margin: 0 3%;
}

h3 {
    background-color: #9D271F;
    text-align: center;
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: bold;
    margin: 0;
}

.monthEvent {
    width: auto;
    color: #68a9f8;
    font-weight: normal;
    text-align: center;
    padding: 5px;
    margin-top: 3%;
}

.dayEvent {
    width: auto;
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 5px;
}

.nameEvent {
    width: auto;
    color: black;
    font-weight: normal;
    text-align: center;
    padding: 5px;
    margin-top: 3%;
}

.aboutEvent {
    width: auto;
    font-weight: lighter;
    font-size: smaller;
    text-align: center;
    padding: 5px;
    margin-top: 3%;
}