
.imageClock{
    display: inline-block;
    margin-right: 10%;
    margin-left: 10%;
}

h2 {
    color: black;
    font-size: 38pt;
    border-bottom: solid #9D271F;
    padding-bottom: 10px;
    display: inline-block;
    position: fixed;
}

.imageBeer{
    display: inline-block;
    margin-left: 25%;
    position: fixed;
}

.boxesEvent{
    display: flex;
	height: 38%;
    width: 62%;
    margin-top: 3%;
    margin-left: 17%;
} 

.redboxSalsa {
	width: 100%;
	text-align: center;
	box-shadow: 1px 1px 8px lightgrey;
    margin: 0 3%;
}

.redboxChristmas {
	width: 100%;
	text-align: center;
	box-shadow: 1px 1px 8px lightgrey;
    margin: 0 3%;
}

.redboxFinance {
	width: 100%;
	text-align: center;
	box-shadow: 1px 1px 8px lightgrey;
    margin: 0 3%;
}

h3 {
    background-color: #9D271F;
    text-align: center;
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: bold;
    margin: 0;
} 

.monthEvent {
	width: auto;
    color: #68a9f8;
    font-weight: normal;
	text-align: center;
    padding: 5px;
    margin-top: 3%;
}

.dayEvent {
	width: auto;
    color: black;
    font-weight: bold;
	text-align: center;
    padding: 5px;
}

.nameEvent{
	width: auto;
    color: black;
    font-weight: normal;
	text-align: center;
    padding: 5px;
    margin-top: 3%;
}

.aboutEvent {
	width: auto;
    color: darkgray;
    font-weight: lighter;
    font-size: smaller;
	text-align: center;
    padding: 5px;
    margin-top: 3%;
} 


