html {
  margin: 0;
  padding: 0;
}

body {
  align-content: center;
 
}

.section {
  font-size: 10px;
  padding: 14pc;
  margin-bottom: 10px;
}

.titre {
  display: flex;
  justify-content: center;
}

h2 {
  font-size: 4pc;
  color: black;
  width: fit-content;
  border-bottom: 12px solid #9a0000;
 
}

p {
  color: black;
  margin-right: 10pc;
  font-size: 40px;
}

form {
  align-items: center;
}



.nomDroite{
margin-right: 33pc;
}

.nomPrenom {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
 
}

.nomPrenomFormulaire {
  display: flex;
}

textarea {
  
  height: 100px;
}

input,
textarea {
  width: 93%;
  font-size: 20px;
  background-color: #ffffff;
  text-align: left;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 10px;
  padding: 50px 10px 10px;
  border: 1px solid #af0102;
  border-radius: 20px;
}

.submit {
  width: 14pc;
  font-size: 28px;
  background-color: #ffffff;
  color: black;
  text-align: center;
  margin-top: 60px;
  padding: 20px;
  border-radius: 20px;
}
.submit:hover {
  background-color: #af0102;
}

 /* @media only screen and (max-with: 749px) {
  .nomDroite {
    margin-left: 60pc;
  }
}  */
